/*  GOOGLE FONTS    */
.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}
.orbitron-discover {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

  

body{
    background-color: #EEF0ED;
    font-family: Arial, sans-serif;
    margin: 0;
}
header{
    background-color: #EEF0ED;
    width: 100%;
    height: 50px;
    border-radius: 5PX;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#logo{
    width: 50px;
    height: 50px;
}
#div-logo{
    display: flex;
    align-items: center;
}
.logo-name{
    color: rgba(31, 31, 133, 0.849);
    font-size: larger;
}





main{
    background-color: white;
    width: 100%;
    height: 900px;
    display: flex;
    background-image: url("images/bg.jpg");
    background-clip: border-box;

    padding-top: 30px;
    padding-left: 20px;
    justify-content: space-around;
}
.main-div{
    width: 50%;
    height: 100%;
}
.slide-show{
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 255, 0.11);
    border: 1px solid blue;
    border-radius: 15px;
    
    animation: moving .5s ease;
    color: blue;
    padding: 20px;
    display: none;
}
.slide-show.active{
    display: block;
}
.slide-show-ttl{
    font-size: 80px;
}
.slide-show-sub-ttl{
    font-size: 60px;
    color: darkblue;
}
.slide-show-txt{
    color: rgb(24, 24, 24);
    font-size: 20px;
    text-shadow: 5px 5px 5px #EEF0ED;
    font-family: 'Poppins', sans-serif;
}
.slide-show-btn{
    width: fit-content;
    border: 2px solid white;
    background-color: blue;
    border-radius: 60px;
    padding: 5px 10px;
    color: white;
    text-align: center;
}


.main-div1{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-container{
    align-self: flex-start;
    color: white;
    width: 80%;
    height: fit-content;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.185);
    border-radius: 15px;

    background-image: url("images/signup_container.jpg");
}
.user-tabs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;     
}
.user-tabs .tab_btn{
    width: 50%;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: #414040;

    padding: 20px;
    cursor: pointer;
    border-bottom: 2px solid blue;   
}
.user-tabs .tab_btn.active{
    color: blue;
    border-radius: 15px 15px 0 0;
    border: 2px solid blue;
    border-bottom: none;
}
.user-contents{
    height: fit-content;
    padding: 20px;
    border-color: blue;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    border-radius: 0 0 15px 15px;
}

/*FORMS*/
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
form input{
    border: 1px solid gray;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 20px;
    
    background: rgba(255, 255, 255, 0.836);
}
form button{
    background-color: blue;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.user-contents .content.active{
    display: block;
}
.user-contents .content{
    display: none;
    animation: moving .5s ease;
}

@keyframes moving{
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}



.body1{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.body1 .container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.body1 .input-group{
    margin-bottom: 20px;
}
.body1 input{
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px; 
}
.body1 .name-group{
    display: flex;
    justify-content: space-between;
}
.body1 .name-group input{
    width: 45%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;    
}
.body1 .password-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.body1 .container-txt{
    color: wheat;
}
.body1 .submit-btn {
    width: 100%;
    padding: 10px;
    background: blue;
    border: none;
    border-radius: 5px;
    
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}


.artisan {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.artisan .container{
    width: 100%;  
}

.progressBar{
    width: 90%;
    margin-left: 0;
    overflow: hidden;
    color: lightgrey;
}

.progressBar li{
    list-style-type: none;
    width: 20%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 1;
}

.progressBar .active{
    color: blue;
}

.progressBar #personal::before{
    content: "\f023";
    font-family: FontAwesome;
}

.progressBar #certification::before{
    content: "\f007";
    font-family: FontAwesome;
}

.progressBar #verification::before{
    content: "\f0ac";
    font-family: FontAwesome;
}

.progressBar #payment::before{
    content: "\f00c";
    font-family: FontAwesome;
}

.progressBar #confirm::before{
    content: "\f00c";
    font-family: FontAwesome;
}

.progressBar li::before{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    font-size: 20px;
    color: white;
    background: lightgray;
    border-radius: 50%;
    margin: 0  auto 10px auto;
    padding: 2px;
}

.progressBar li::after{
    content: "";
    width: 100%;
    height: 3px;
    background:grey;
    position: absolute;
    top:25px; 
    z-index: -1;
}

.progressBar #confirm::after{
    width: 0;
}

.progressBar li.active::before,
.progressBar li.next::after{
    background: blue;
}

.form-group{
    display: none;
    animation: animate 1s;
    width: 100%;
}

@keyframes animate {
    from{
        transform: scale(1 , 0);
    }
    to{
        transform: scale(1, 1);
        opacity: 1;
    }
}

.form-group.form-active{
    display: block;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.row h2{
    color: blue;
    font-weight: normal;
}

.row h3{
    color: gray;
    font-family: normal;
}

.form-control{
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

/* .form-control label{
    font-size: 13px;
    position: absolute;
    height: 19px;
    padding: 4px 7px;
    top: -14px;
    left: 10px;
    color: lightgrey;
    
}

.form-group label{
    display: block;
    margin-bottom: 0.5rem;
} */

.form-group input, .select{
    background-color: whitesmoke;
    display: block;
    width: 98%;
    padding: 10px 0 10px 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
    
}
.form-group button{
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: blue;
    color: lightgray;
    text-align: center;
    border-radius: 0.25rem;
    cursor:pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    margin-left: auto;
    width: 50%;
    font-size: 15px;
}

.form-group button:hover{
    box-shadow:  0 0 0 2px white, 0 0 0 3px #673ab7;
}

.form-group .button-control{
    display: flex;
    gap: 10%;
}

.form-group .success{
    text-align: center;
    color: blue;
}

.fa-circle-check{
    font-size: 155px !important;
}

.names{
    display: flex;
    justify-content: space-between;
}

#ghanaFront{
    display: none;
    margin-bottom: 10px;
}
#gf{
    padding: 20px;
    border-radius: 6px;
    border: 1px dashed #999;
}
#gf:hover{
    color: #de0611;
}








 
/* EVERYTHING ABOUT THE FOOTER IS CONTAINED BELOW  */

footer {
    background-color: #121212;
    color: white;
    padding: 40px 20px;
    position: relative;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
/* I INTENTIONALLY LEFT A WIDTH OF 10% */
.footer-brand{
    width: 40%;
}
.footer-links{
    width: 25%;
}
.footer-resources{
    width: 25%;
}
.contact-info li {
    margin-bottom: 10px;
}
.footer-links h4, .footer-social h4 {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-links ul, .footer-resources ul, .footer-brand ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}
.footer-links ul li {
    margin-bottom: 10px;
}
.footer-links a, .footer-resources a{
    text-decoration: none;
    color: white;
}
.social-icons{
    display: flex;
}
.social-icons a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    color: blue;
}
.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
}
.footer-bottom p {
    margin: 0;
}



